@font-face {
    font-family: 'BentonSansMedium';
    src: url('bentonsans-medium-webfont.woff2') format('woff2'),
         url('bentonsans-medium-webfont.woff') format('woff'),
         url('bentonsans-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansRegular';
    src: url('bentonsans-regular-webfont.woff2') format('woff2'),
         url('bentonsans-regular-webfont.woff') format('woff'),
         url('bentonsans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansBold';
    src: url('bentonsans-bold-webfont.woff2') format('woff2'),
         url('bentonsans-bold-webfont.woff') format('woff'),
         url('bentonsans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansBook';
    src: url('bentonsans-book-webfont.woff2') format('woff2'),
         url('bentonsans-book-webfont.woff') format('woff'),
         url('bentonsans-book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansLight';
    src: url('bentonsans-light-webfont.woff2') format('woff2'),
    url('bentonsans-light-webfont.woff') format('woff'),
    url('bentonsans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}