/*********************************************************************************/
/*********************************************************************************/
/*** IMPORTS ***/
/*********************************************************************************/
/*********************************************************************************/
@import "./font-awesome.min.css";
@import "../plugins/bootstrap/dist/css/bootstrap.min.css";
@import "../plugins/slick-carousel/slick/slick.css";
@import "../plugins/slick-carousel/slick/slick-theme.css";
@import "fonts.css";


/*********************************************************************************/
/*********************************************************************************/
/*** VARAIBLES ***/
/*********************************************************************************/
/*********************************************************************************/
@fontBentonSansMedium: BentonSansMedium, sans-serif;
@fontBentonSansRegular: BentonSansRegular, sans-serif;
@fontBentonSansBold: BentonSansBold, sans-serif;
@fontBentonSansBook: BentonSansBook, sans-serif;
@fontBentonSansLight: BentonSansLight, sans-serif;

@colorSBGBlue: #0033a1;
@colorSBGProgressBlue: #00a1e0;
@colorSBGStatureBlue: #0a2240;
@colorWhite: #ffffff;

@colorGreen1: #16D28C;
@colorGreen2: #788385;
@colorYellow1: #FFB404;
@colorYellow2: #FFD36D;
@colorOrange1: #FF5B00;
@colorOrange2: #FF9D69;
@colorOrange3: #fda06e;
@colorPlum1: #C20047;
@colorPlum2: #E25F89;
@colorMauve1: #C549BD;
@colorMauve2: #E091D6;
@colorPurple1: #655DC1;
@colorPurple2: #A59CD9;
@colorPlatinum: #788385;
@color80Gray: #949C9D;
@color60Gray: #B1B6B5;
@color40Gray: #CED0CD;
@color20Gray: #E7E8E6;
@colorFAFAFA: #fafafa;
@colorFCFCFC: #fcfcfc;
@colorEDEDED: #ededed;
@colorText333333: #333333;
@colorText666666: #666666;
@colorText999999: #999999;
@colorTextb3b3b3: #b3b3b3;



/*********************************************************************************/
/*********************************************************************************/
/*** COLORS ***/
/*********************************************************************************/
/*********************************************************************************/
.color-text-sbg-blue{
  color: @colorSBGBlue !important;
}
.color-text-sbg-progress-blue{
  color: @colorSBGProgressBlue !important;
}
.color-text-sbg-stature-blue{
  color: @colorSBGStatureBlue !important;
}
.color-text-white{
  color: @colorWhite !important;
}
.color-text-green{
  color: @colorGreen1 !important;
}
.color-text-green-light{
  color: @colorGreen2 !important;
}
.color-text-yellow{
  color: @colorYellow1 !important;
}
.color-text-yellow-light{
  color: @colorYellow2 !important;
}
.color-text-orange{
  color: @colorOrange1 !important;
}
.color-text-orange-light{
  color: @colorOrange2 !important;
}
.color-text-plum{
  color: @colorPlum1 !important;
}
.color-text-plum-light{
  color: @colorPlum2 !important;
}
.color-text-mauve{
  color: @colorMauve1 !important;
}
.color-text-mauve-light{
  color: @colorMauve2 !important;
}
.color-text-purple{
  color: @colorPurple1 !important;
}
.color-text-purple-light{
  color: @colorPurple2 !important;
}
.color-text-platinum{
  color: @colorPlatinum !important;
}
.color-text-80-gray{
  color: @color80Gray !important;
}
.color-text-60-gray{
  color: @color60Gray !important;
}
.color-text-40-gray{
  color: @color40Gray !important;
}
.color-text-20-gray{
  color: @color20Gray !important;
}

/*********************************************************************************/
/*********************************************************************************/
/*** BACKGROUNDS ***/
/*********************************************************************************/
/*********************************************************************************/
.background-sbg-blue{
  background-color: @colorSBGBlue;
}
.background-sbg-progress-blue{
  background-color: @colorSBGProgressBlue;
}
.background-sbg-stature-blue{
  background-color: @colorSBGStatureBlue;
}
.background-white{
  background-color: @colorWhite;
}
.background-green{
  background-color: @colorGreen1;
}
.background-green-light{
  background-color: @colorGreen2;
}
.background-yellow{
  background-color: @colorYellow1;
}
.background-yellow-light{
  background-color: @colorYellow2;
}
.background-orange{
  background-color: @colorOrange1;
}
.background-orange-light{
  background-color: @colorOrange2;
}
.background-orange-lighter{
  background-color: @colorOrange3;
}
.background-plum{
  background-color: @colorPlum1;
}
.background-plum-light{
  background-color: @colorPlum2;
}
.background-mauve{
  background-color: @colorMauve1;
}
.background-mauve-light{
  background-color: @colorMauve2;
}
.background-purple{
  background-color: @colorPurple1;
}
.background-purple-light{
  background-color: @colorPurple2;
}
.background-platinum{
  background-color: @colorPlatinum;
}
.background-80-gray{
  background-color: @color80Gray;
}
.background-60-gray{
  background-color: @color60Gray;
}
.background-40-gray{
  background-color: @color40Gray;
}
.background-20-gray{
  background-color: @color20Gray;
}
.background-fafafa{
  background-color: @colorFAFAFA;
}
.background-fcfcfc{
  background-color: @colorFCFCFC;
}

/*********************************************************************************/
/*********************************************************************************/
/*** MARGINS & PADDINGS ***/
/*********************************************************************************/
/*********************************************************************************/
.margin-top-5{
  margin-top: 5px;
}
.margin-bottom-5{
  margin-bottom: 5px;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
.margin-top-15{
  margin-top: 15px;
}
.margin-bottom-15{
  margin-bottom: 15px;
}
.margin-top-20{
  margin-top: 5px;
}
.margin-bottom-20{
  margin-bottom: 5px;
}
.margin-top-25{
  margin-top: 5px;
}
.margin-bottom-25{
  margin-bottom: 5px;
}
.margin-top-30{
  margin-top: 30px;
}
.margin-bottom-30{
  margin-bottom: 30px;
}

.padding-top-5{
  padding-top: 5px;
}
.padding-bottom-5{
  padding-bottom: 5px;
}
.padding-top-10{
  padding-top: 10px;
}
.padding-bottom-10{
  padding-bottom: 10px;
}
.padding-top-15{
  padding-top: 15px;
}
.padding-bottom-15{
  padding-bottom: 15px;
}
.padding-top-20{
  padding-top: 5px;
}
.padding-bottom-20{
  padding-bottom: 5px;
}
.padding-top-25{
  padding-top: 5px;
}
.padding-bottom-25{
  padding-bottom: 5px;
}
.padding-top-30{
  padding-top: 30px;
}
.padding-bottom-30{
  padding-bottom: 30px;
}

.padding-5{
  padding: 5px;
}
.padding-10{
  padding: 10px;
}
.padding-15{
  padding: 15px;
}
.padding-20{
  padding: 20px;
}
.padding-25{
  padding: 25px;
}
.padding-30{
  padding: 30px;
}

/*********************************************************************************/
/*********************************************************************************/
/*** TYPOGRAPHY ***/
/*********************************************************************************/
/*********************************************************************************/
h1{
  font-family: BentonSansBold, sans-serif;
  font-size: 50px;
  line-height: 1.2;
  color: #4d4d4d;
  margin-top: 0;
  margin-bottom: 0;
  span.light{
    font-family: BentonSansLight, sans-serif;
  }
  span.regular{
    font-family: BentonSansRegular, sans-serif;
  }
  span.medium{
    font-family: BentonSansMedium, sans-serif;
  }
  span.book{
    font-family: BentonSansBook, sans-serif;
  }
}
h2{
  font-family: BentonSansLight, sans-serif;
  font-size: 40px;
  line-height: 1.25;
  color: #666666;
  margin-top: 0;
  margin-bottom: 0;
  span.bold{
    font-family: BentonSansBold, sans-serif;
  }
  span.regular{
    font-family: BentonSansRegular, sans-serif;
  }
  span.medium{
    font-family: BentonSansMedium, sans-serif;
  }
  span.book{
    font-family: BentonSansBook, sans-serif;
  }
}
h3{
  font-family: BentonSansRegular, sans-serif;
  font-size: 25px;
  line-height: 1.2;
  color: #666666;
  margin-top: 0;
  margin-bottom: 0;
  span.bold{
    font-family: BentonSansBold, sans-serif;
  }
  span.light{
    font-family: BentonSansLight, sans-serif;
  }
  span.medium{
    font-family: BentonSansMedium, sans-serif;
  }
  span.book{
    font-family: BentonSansBook, sans-serif;
  }
}
h4{
  font-family: BentonSansRegular, sans-serif;
  font-size: 18px;
  line-height: 1.67;
  color: #666666;
  margin-top: 0;
  margin-bottom: 0;
  span.bold{
    font-family: BentonSansBold, sans-serif;
  }
  span.light{
    font-family: BentonSansLight, sans-serif;
  }
  span.medium{
    font-family: BentonSansMedium, sans-serif;
  }
  span.book{
    font-family: BentonSansBook, sans-serif;
  }
}
h5{
  font-family: BentonSansRegular, sans-serif;
  font-size: 16px;
  line-height: 1.88;
  color: #666666;
  margin-top: 0;
  margin-bottom: 0;
  span.bold{
    font-family: BentonSansBold, sans-serif;
  }
  span.light{
    font-family: BentonSansLight, sans-serif;
  }
  span.medium{
    font-family: BentonSansMedium, sans-serif;
  }
  span.book{
    font-family: BentonSansBook, sans-serif;
  }
}
h6{
  font-family: BentonSansMedium, sans-serif;
  font-size: 14px;
  line-height: 2.14;
  color: #666666;
  margin-top: 0;
  margin-bottom: 0;
  span.bold{
    font-family: BentonSansBold, sans-serif;
  }
  span.light{
    font-family: BentonSansLight, sans-serif;
  }
  span.regular{
    font-family: BentonSansRegular, sans-serif;
  }
  span.book{
    font-family: BentonSansBook, sans-serif;
  }
}
p{
  font-family: BentonSansRegular, sans-serif;
  font-size: 16px;
  line-height: 1.88;
  color: @colorText666666;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  width: 100%;
  display: inline-block;
  span.bold{
    font-family: BentonSansBold, sans-serif;
  }
  span.light{
    font-family: BentonSansLight, sans-serif;
  }
  span.medium{
    font-family: BentonSansMedium, sans-serif;
  }
  span.book{
    font-family: BentonSansBook, sans-serif;
  }
  &.title{
    font-family: @fontBentonSansBold;
    font-size: 14px;
    line-height: 1.14;
    color: @colorText333333;
  }
  &.price{
    font-family: @fontBentonSansBook;
    font-size: 24px;
    line-height: 1.74;
    color: #333333;
    .small{
      font-size: 16px;
    }
  }
  &.description{
    font-family: @fontBentonSansRegular;
    font-size: 16px;
    line-height: 1.88;
    color: @colorText333333;
    span.bold{
      font-family: BentonSansBold, sans-serif;
    }
    span.light{
      font-family: BentonSansLight, sans-serif;
    }
    span.medium{
      font-family: BentonSansMedium, sans-serif;
    }
    span.book{
      font-family: BentonSansBook, sans-serif;
    }
  }
  &.small{
    font-size: 11px;
    line-height: 1.18;
    color: #666666;
    &.icon{
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 18px;
      padding-left: 30px;
    }
  }
}
ul, ol{
  font-family: BentonSansRegular, sans-serif;
  font-size: 13px;
  line-height: 3.3;
  color: #666666;
  span.bold{
    font-family: BentonSansBold, sans-serif;
  }
  span.light{
    font-family: BentonSansLight, sans-serif;
  }
  span.medium{
    font-family: BentonSansMedium, sans-serif;
  }
  span.book{
    font-family: BentonSansBook, sans-serif;
  }
  li{
    padding-left: 30px;
  }
  &.check{
    list-style: none;
    margin-left: -15px;
    padding-left: 15px;
    li{
      background-position: left top 13px;
      background-repeat: no-repeat;
      background-image: url("../img/generic/standard_bank_icons/list_check.svg");
      background-size: 15px;
    }
  }
  &.paragraphy-style{
    font-family: BentonSansRegular, sans-serif;
    font-size: 16px;
    line-height: 1.88;
    color: @colorText666666;
    padding-left: 15px;
    li{
      padding-left: 5px;
    }
  }
}

/*********************************************************************************/
/*********************************************************************************/
/*** CONTAINERS ***/
/*********************************************************************************/
/*********************************************************************************/
.sbg-fullwidth-container{
  width: 100%;
  float: left;
  display: inline-block;
}
.sbg-container{
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

/*********************************************************************************/
/*********************************************************************************/
/*** BREADCRUMB ***/
/*********************************************************************************/
/*********************************************************************************/
ul.sbg-breadcrumb{
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  li{
    padding-left: 0px;
    padding-right: 30px;
    float: left;
    background-image: url("../img/generic/breadcrumb.svg");
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: 5px;
    a{
      font-family: @fontBentonSansBook;
      font-size: 13px;
      line-height: 2.31;
      color: #cccccc;
      text-decoration: none !important;
      border-bottom: none;
    }
    &.active{
     background-image: none;
      a{
        color: @colorSBGProgressBlue;
      }
    }
  }
}

/*********************************************************************************/
/*********************************************************************************/
/*** DROPSHADOW ***/
/*********************************************************************************/
/*********************************************************************************/
.card-dropshadow{
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  display: inline-block;
  overflow: hidden;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
  width: 100%;
  &.card-icon{
    padding-left: 100px !important;
    background-repeat: no-repeat;
    background-size: 68px;
    background-position: left 15px top 30px;
    @media screen and (max-width: 992px){
      padding-left: 30px !important;
      padding-top: 100px;
      background-position: left 30px top 15px;
    }
  }
  &:hover{
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
  }
}

/*********************************************************************************/
/*********************************************************************************/
/*** BUTTONS & LINKS ***/
/*********************************************************************************/
/*********************************************************************************/
.button{
  min-width: 149px;
  min-height: 40px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  padding-left:15px;
  padding-right:15px;
  display: inline-block !important;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  background-color: @colorSBGBlue;
  text-transform: uppercase;
  color: @colorWhite;
  font-family: @fontBentonSansBold;
  border: solid 2px @colorSBGBlue;
  line-height: 40px;
  margin-bottom: 15px;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  transition: ease 0.2s;
  &:hover, &.active, &:focus{
    text-decoration: none;
    color: @colorWhite;
    background-color: #1569d7;
    border-color: #1569d7;
  }
  &.introduction-button{
    border: solid 2px #00a1e0;
    margin-left: 15px;
    background-color: @colorSBGProgressBlue;
    color: @colorWhite;
    &:hover, &:focus, &:active{
      color: @colorWhite;
    }
  }
  &.secondary-button{
    background-color: transparent;
    color: @colorSBGBlue;
    &:hover, &:focus, &:active{
      color: @colorSBGBlue;
      background-color: rgba(21, 105, 214, 0.2);
    }
  }
  &.tertiary-button{
    border-color: @colorWhite !important;
    background-color: transparent;
    color: @colorWhite;
    &:hover, &:focus, &:active{
      color: @colorText333333;
      background-color: @colorWhite;
    }
    .badge{
      margin-left: 5px;
      width: 30px;
      height: 30px;
      border: 1px solid #ffffff;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      border-radius:50%;
      background-color: transparent;
      text-align: center;
      margin-top: -3px;
    }
  }
  &.compare-button-result{
    border-color: @colorWhite !important;
    background-color: transparent;
    color: @colorWhite;
    &:hover, &:focus, &:active{
      color: @colorText333333;
      background-color: @colorWhite;
      .badge{
        color: @colorText333333;
        border-color:@colorText333333;
      }
    }
    .badge{
      margin-left: 5px;
      width: 25px;
      height: 25px;
      border: 2px solid #ffffff;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      border-radius:50%;
      background-color: transparent;
      text-align: center;
      margin-top: -3px;
      padding-top: 5px;
      text-align: center;
      &.badge-hidden{
        display: none;
      }
    }
  }
  &.compare-close-button{
    min-width: 70px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: right 15px center;
    background-image: url("../img/generic/standard_bank_icons/compare-close-icon.svg");
    font-family: @fontBentonSansRegular;
    font-size: 12px !important;
    padding-right: 50px;
  }
  &.white-button{
    color: @colorText333333;
    background-color: @colorWhite;
    border-color: @colorWhite;
    &:hover, &:focus, &:active{
      color: @colorWhite;
      border-color: @colorWhite !important;
      background-color: transparent;
    }
  }
  &.load-more{
    border-radius: 4px;
    background-color: @colorWhite;
    border: solid 2px #f5f5f5;
    display: inline-block;
    color: @colorTextb3b3b3;
    &.opened{

    }
  }
  @media screen and (max-width: 767px){
    width: 100%;
    &.introduction-button{
      margin-left: 0;
    }

  }
}
a{
  font-family: @fontBentonSansRegular;
  font-size: 16px;
  line-height: 1.88;
  color: @colorSBGProgressBlue;
  border-bottom: 1px solid @colorSBGProgressBlue;
  text-decoration: none;
  &:hover, &:active, &:focus{
    color: @colorSBGProgressBlue;
    text-decoration: none;
  }
  &.add-to-compare{
    font-family: @fontBentonSansRegular;
    font-size: 11px;
    line-height: 2;
    color: @colorText333333;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    background-image: url("../img/generic/compare.svg");
    background-position: left center;
    background-size: 23px;
    background-repeat: no-repeat;
    text-decoration: none !important;
    border-bottom: none;
    &.compare-button-remove{
      background-image: url("../img/generic/compare_remove.svg");
    }
    &.compare-remove-page{
      background-image: url("../img/generic/compare_remove.svg");
      background-position: center center;
      background-size: 23px;
      background-repeat: no-repeat;
      text-align: center;
      padding-left: 0px;
      padding-top: 50px;
      line-height: 7;
    }
  }
  &.info-tooltip{
    font-family: @fontBentonSansRegular;
    font-size: 11px;
    line-height: 2;
    color: @colorText333333;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    background-image: url("../img/generic/question.svg");
    background-position: right center;
    background-size: 23px;
    background-repeat: no-repeat;
    text-decoration: none !important;
    border-bottom: none;
  }
  &.white-link{
    color: @colorWhite;
    border-bottom: 1px solid @colorWhite;
    &:hover, &:active, &:focus{
      color: @colorWhite;
      text-decoration: none;
    }
  }
}
.button-backtop{
  display: inline-block;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-image: url("../img/generic/back-to-top.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 45px;
  text-decoration: none !important;
  width: 50px;
  height: 50px;
  border-bottom: none;
  @media screen and (max-width: 767px){
    width: 30px;
    height: 30px;
    background-size: 30px;
  }
}

/*********************************************************************************/
/*********************************************************************************/
/*** CARDS ***/
/*********************************************************************************/
/*********************************************************************************/
.card-list-container{
  @media screen and (max-width: 767px){
    margin-left: -15px;
    margin-right: -15px;
  }
}
.card-types{
  margin-bottom: 15px;
  .card-summary-information{
    background-position: left 45% center;
    background-size: 2px;
    background-image: url("../img/generic/standard_bank_icons/summary_line.svg");
    background-repeat: no-repeat;
    @media screen and (max-width: 1200px){
      background-position: left 47% center;
    }
    @media screen and (max-width: 1024px){
      background-position: left 48% center;
    }
    @media screen and (max-width: 992px){
      background-image: none !important;
    }
  }
  @media screen and (max-width: 767px){
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    h2{
      font-family: @fontBentonSansLight;
      font-size: 25px;
      line-height: 1.2;
      color: #666666;
    }
  }
  &:last-child{
    margin-bottom: 0px;
    @media screen and (max-width: 767px){
      margin-bottom: 15px;
    }
  }
  &.card-detail{
    padding-bottom: 50px;
  }
}
.card-benefits{
  width: 100%;
  float: left;
  display: inline-block;
  .image{
    width: 100%;
    float: left;
    display: inline-block;
    min-height: 70px;
    overflow: hidden;
    margin-bottom: 15px;
    white-space: nowrap;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    img{
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      width: auto;
      max-height: 50px;
    }
  }
  .title{
    width: 100%;
    float: left;
    display: inline-block;
    min-height: 50px;
  }
  .description{
    width: 100%;
    float: left;
    display: inline-block;
    min-height: 150px;
    margin-bottom: 15px;
  }
  .button-container{
    width: 100%;
    float: left;
    display: inline-block;
  }
  &.card-benefits-hide{
    .image{
      width: 100%;
      float: left;
      display: inline-block;
      min-height: 70px;
      overflow: hidden;
      margin-bottom: 15px;
      white-space: nowrap;
      position: relative;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      img{
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        width: auto;
        max-height: 50px;
      }
      @media screen and (max-width: 767px){
        display: none;
      }
    }
    .title{
      width: 100%;
      float: left;
      display: inline-block;
      min-height: 50px;
      > a{
        display: none;
      }
      @media screen and (max-width: 767px){
        > h4{
          display: none;
        }
        > a{
          display: inline-block;
          min-height: auto;
          margin-bottom: 15px;
          background-image: url("../img/generic/link_blue_arrow.svg");
          background-position: right center;
          background-repeat: no-repeat;
          background-size: 10px;
          padding-right: 30px;
          border-bottom: none;
        }
      }
    }
    .description{
      width: 100%;
      float: left;
      display: inline-block;
      min-height: 150px;
      margin-bottom: 15px;
      @media screen and (max-width: 767px){
        display: none;
      }
    }
    .button-container{
      width: 100%;
      float: left;
      display: inline-block;
      @media screen and (max-width: 767px){
        display: none;
      }
    }
  }
}
.card-benefits-2{
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 15px;
  .image{
    width: 100%;
    float: left;
    display: inline-block;
    min-height: 120px;
    overflow: hidden;
    margin-bottom: 15px;
    white-space: nowrap;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    img{
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      width: auto;
      max-height: 50px;
    }
    @media screen and (max-width: 767px){
      display: none;
    }
  }
  .title{
    width: 100%;
    float: left;
    display: inline-block;
    min-height: 50px;
  }
  .description{
    width: 100%;
    float: left;
    display: inline-block;
    margin-bottom: 15px;
  }
  .button-container{
    width: 100%;
    float: left;
    display: inline-block;
  }
}
.card-manage{
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 30px;
  min-height: 205px;
  background-image: url("../img/generic/more-icon.svg");
  background-repeat:no-repeat;
  background-size: 16px;
  background-position: right 30px bottom 30px;
  .image{
    width: 100%;
    float: left;
    display: inline-block;
    min-height: 70px;
  }
  &.see-more{
    background-color: transparent;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    .title{
      text-align: center;
    }
  }
  @media screen and (max-width: 767px){
    min-height: auto;
  }
}
.card-guidance{
  width: 100%;
  float: left;
  display: inline-block;
  min-height: 468px;
  position: relative;
  margin-bottom: 20px;
  .image{
    width: 100%;
    height: 234px;
    float: left;
    display: inline-block;
    background-color: @color40Gray;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-top: 15px;
  }
  .details{
    width: 100%;
    float: left;
    display: inline-block;
    .category{
      width: 100%;
      float: left;
      display: inline-block;
      padding: 30px 30px 15px 30px;
    }
    .title{
      width: 100%;
      float: left;
      display: inline-block;
      padding: 0px 30px 30px 30px;
      min-height: 90px;
    }
    .button-container{
      padding: 0px 30px 0px 30px;
    }
  }
  &.card-smaller{
    margin-bottom: 20px;
    min-height: 224px;
    .image{
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
    }
    .details{
      width: 50%;
      float: left;
      display: inline-block;
      .category{
        width: 100%;
        float: left;
        display: inline-block;
        padding: 15px 30px 15px 15px;
      }
      .title{
        width: 100%;
        float: left;
        display: inline-block;
        padding: 0px 30px 15px 15px;
        min-height: 100px;
      }
      .button-container{
        width: 100%;
        float: left;
        display: inline-block;
        padding: 0px 15px 0px 15px;
      }
    }
    @media screen and (max-width: 767px){
      min-height: 160px;
      .details{
        width: 50%;
        float: left;
        display: inline-block;
        .category{
          width: 100%;
          float: left;
          display: inline-block;
          padding: 15px 30px 15px 15px;
        }
        .title{
          padding: 0px 15px 15px 15px;
          min-height: 70px;
          p{
            font-size: 15px !important;
            line-height: 1.33 !important;
          }
        }
        .button-container{
          padding: 0px 15px 0px 15px;
          .button{
            min-width: auto !important;
            min-height: auto !important;
            border: none !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            color: @colorSBGBlue;
            background-color: transparent !important;
            text-align: left !important;
          }
        }
      }
    }
  }
  &.card-small-mobile {
    @media screen and (max-width: 767px) {
      min-height: 160px;
      .image{
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
      }
      .details {
        width: 50%;
        float: left;
        display: inline-block;
        .category {
          width: 100%;
          float: left;
          display: inline-block;
          padding: 15px 30px 15px 15px;
        }
        .title {
          padding: 0px 15px 15px 15px;
          min-height: 70px;
          p {
            font-size: 15px !important;
            line-height: 1.33 !important;
          }
        }
        .button-container {
          padding: 0px 15px 0px 15px;
          .button {
            min-width: auto !important;
            min-height: auto !important;
            border: none !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            color: @colorSBGBlue;
            background-color: transparent !important;
            text-align: left !important;
          }
        }
      }
    }
  }
}
.card-filter{
  width: 100%;
  float: left;
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  background-image: url(../img/generic/card_dropdown_arrow.svg);
  background-size: 20px;
  background-position: right 15px top 25px;
  background-repeat:no-repeat;
  &.open{
    background-image: url(../img/generic/card_dropdown_arrow_open.svg) !important;
    .all_cards{
      display: inline-block;
    }
  }
  .show_label{
    width: 100%;
    float: left;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    .title{
      width: 50px;
      float: left;
      display: inline-block;
      position: absolute;
      font-family: BentonSansRegular, sans-serif;
      font-size: 16px;
      line-height: 1.88;
      color: #666666;
    }
    .cards{
      padding-left: 50px;
      padding-right: 20px;
      font-family: BentonSansRegular, sans-serif;
      font-size: 16px;
      line-height: 1.88;
      color: #333333;
    }
  }
  .all_cards{
    width: 100%;
    float: left;
    display: none;
    a{
      padding: 15px;
      width: 100%;
      float: left;
      padding-top: 15px;
      padding-bottom: 15px;
      font-family: BentonSansRegular, sans-serif;
      font-size: 16px;
      line-height: 1.88;
      color: #666666;
      text-decoration: none !important;
      border-top: 1px solid #f6f6f6;
      border-bottom: none;
      &:hover, &:focus, &:active{
        color: #666666;
        text-decoration: none !important;
      }
    }
  }
}
.card-tabs{
  min-height: 600px;
  .main-container{
    border-top: 2px solid @colorEDEDED;
  }
  .button-container{
    margin-bottom: -2px;
    z-index: 10;
    position: relative;
    @media screen and (max-width: 767px){
      overflow-x: scroll;
      &::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        height: 0px;
        overflow-scrolling: touch;
        -webkit-overflow-scrolling: touch;
      }
      /* optional: show position indicator in red */
      &::-webkit-scrollbar-thumb {
      }
    }
    .tab-scroller{
      display: inline-block;
    }
    a{
      font-family: @fontBentonSansMedium;
      font-size: 18px;
      text-decoration: none;
      border-bottom: none;
      color: @color80Gray;
      padding-bottom: 15px;
      display: inline-block;
      margin-right: 30px;
      z-index: 10;
      position: relative;
      &.active{
        color: @colorSBGBlue;
        font-family: @fontBentonSansBold;
        border-bottom: 2px solid @colorSBGBlue;
      }
    }

  }
  .content-container{
    width: 100%;
    min-height: 350px;
    float: left;
    display: none;
    &.active{
      display: inline-block;
    }
    .inner-container{
      width: 66.66666666666667%;
      display: inline-block;
      float: left;
      @media screen and (max-width: 992px){
        width: 100%;
      }
    }
  }
  .form-container{
    width: 33.33333333333333%;
    position: absolute;
    right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 2;
    @media screen and (max-width: 992px){
      position: relative;
      width: 100%;
      right: auto;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
.card-title-description-links{
  min-height: 255px;
}
.card-form{
  @media screen and  (max-width: 992px){
    margin-top: 15px;
  }
  .card-icon{
    padding-left: 85px !important;
    background-repeat: no-repeat;
    background-size: 68px;
    background-position: left top;
    @media screen and (max-width: 992px){
      padding-left: 0px !important;
      padding-top: 85px;
      background-position: left top;
    }
  }
}
.card-table{
  .heading{
    width: 100%;
    float: left;
    display: inline-block;
  }
  .entry{
    width: 100%;
    float: left;
    display: inline-block;
    border-bottom: 1px solid @color20Gray;
    .name{
      float: left;
    }
    .value{
      float: right;
    }
  }
}
.card-scroll-down{
  margin-top: -40px;
}
.card-compare-strip{
  height: 80px;
  position: fixed;
  bottom: -80px;
  left:0;
  z-index: 10;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
  .compare-close-button.mobile{
    display: none !important;
    width: 50px;
    min-width: auto;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
  }
  .messaging{
    display: inline-block;
    line-height: 80px;
    p{
      vertical-align: middle;
    }
    .compare-close-button.mobile{
      display: none;
    }
  }
  .buttons{
    position: relative;
    float: right;
    .inner{
      line-height: 80px;
    }
  }
  &.visible{
    bottom: 0px;
  }
  @media screen and (max-width: 767px){
    height: 140px;
    &.hide-compare{
      bottom: -140px;
    }
    .compare-close-button.mobile{
      display: inline-block !important;
    }
    .messaging{
      width: 90%;
      padding: 10px;
      line-height: 20px;
      min-height: 60px;
      p{
        line-height: 20px;
        font-size: 12px;
      }
    }
    .buttons{
      width: 100%;
      padding: 0px 10px 10px 10px;
      float:left;
      .inner{
        width: 100%;
        line-height: 20px;
        .compare-close-button{
          display: none !important;
        }
      }
    }
  }
}
.card-compare-block{
  min-height: 250px;
  .card-compare-add-block{
    width: 100%;
    float: left;
    display: inline-block;
    .compare-add-icon{
      width: 100%;
      float: left;
      display: inline-block;
      height: 55px;
      background-image: url("../img/generic/standard_bank_icons/compare-add-icon.svg");
      background-size: 55px;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .card-compare-add-dropdown{
      width: 263px;
      display: inline-block;
      position: relative;
      a.select{
        text-align: left;
        width: 100%;
        display: inline-block;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        background-color: #ffffff;
        border: solid 2px #f5f5f5;
        font-size: 12px;
        color: @colorText999999;
        padding: 10px;
      }
      .dropdown{
        margin-top: 15px;
        width: 100%;
        display: none;
        float: left;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        background-color: #ffffff;
        border: solid 2px #f5f5f5;
        font-size: 12px;
        color: @colorText999999;
        padding: 2px;
        z-index: 3;
        left: 0;
        position: absolute;
        &.open{
          display: inline-block;
        }
        a{
          width: 100%;
          display: inline-block;
          float: left;
          border-bottom: 0;
          font-size: 12px;
          color: @colorText999999;
          padding: 10px;
          text-align: left;
          border-radius: 2px;
          background-color: @colorWhite;
          border: solid 2px @colorWhite;
          &.disabled{
            background-color: @colorFAFAFA;
          }
        }
      }
    }
  }
  .card-compare-border-top{
    border-top: 2px solid #ededed;
  }
  .card-compare-border-bottom{
    border-bottom: 2px solid #ededed;
  }
  .card-compare-table{
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    .card-compare-cell{
      width: 30%;
      height: 90px;
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      &.last{
        width: 70%;
        text-align: right;
      }
    }
  }
  .card-compare-benefits{
    min-height: 250px;
  }
}
.card-manage-your-account{
  width: 100%;
  display: inline-block;
  float: left;
  &.with-icon{
    .title{
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 50px;
      padding: 50px 50px 50px 100px;
    }
  }
  .title{
    padding: 50px;
    width: 100%;
    display: inline-block;
    float: left;
    font-family: BentonSansLight, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    color: #ffffff;
    .bold{
      font-family: BentonSansBold, sans-serif;
    }
  }
  .links{
    padding: 20px;
    width: 100%;
    display: inline-block;
    float: left;
    a{
      display: inline-block;
      float: left;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

/*********************************************************************************/
/*********************************************************************************/
/*** FLOATABLE CONTAINER ***/
/*********************************************************************************/
/*********************************************************************************/
.sbg-floating-absolute{
  margin-bottom: 30px;
  position: absolute;
}
.sbg-floating-fixed{
  position: fixed;
  top: 0;
}
.sbg-floating-static{
  position: absolute;
}

/*********************************************************************************/
/*********************************************************************************/
/*** ICONS ***/
/*********************************************************************************/
/*********************************************************************************/
.icon-service-type{
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: left center;
  font-family: @fontBentonSansRegular;
  font-size: 12px;
  line-height: 1.67;
  color: #666666;
  height: 50px;
  padding-left: 55px;
  padding-top: 15px;
}

/*********************************************************************************/
/*********************************************************************************/
/*** CAROUSELS ***/
/*********************************************************************************/
/*********************************************************************************/
.sbg-benefits-carousel-container{
  ul.slick-dots{
    margin-top: 30px;
    li{
      button{
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        background-color: #dbdbdb;
        width: 13px;
        height: 13px;
        &::before{
          content: '' !important;
        }
      }
      &.slick-active{
        button{
          background-color: #0033a1;
        }
      }
    }
  }
  @media screen and (max-width: 767px){
    margin-bottom: 30px;
  }
}
.card-switch-carousel{
  margin-bottom: 30px;
  z-index: 1;
  .item{
    width: 100%;
    float: left;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    .align-middle{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .slick-prev{
    background-image: url(../img/generic/standard_bank_icons/carousel-prev-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px;
    width: 60px;
    height: 100%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 0px;
    z-index: 10;
    &:before{
      content: ' ';
    }
  }
  .slick-next{
    background-image: url(../img/generic/standard_bank_icons/carousel-next-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px;
    width: 60px;
    height: 100%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 0;
    z-index: 10;
    &:before{
      content: ' ';
    }
  }
  ul.slick-dots{
    margin-top: 30px;
    li{
      button{
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        background-color: transparent;
        border: 1px solid @colorWhite;
        width: 13px;
        height: 13px;
        &::before{
          content: '' !important;
        }
      }
      &.slick-active{
        button{
          background-color: @colorWhite;
        }
      }
    }
  }
}
.compare-carousel{
  z-index: 2;
  .slick-list{
    overflow-x: hidden;
    overflow-y: scroll;
    overflow: visible;
  }
}
.card-cross-sell-carousel{
  position: relative;
  width: 100%;
  .item{
    width: 100%;
    display: inline-block;
    padding: 30px 50px 30px 30px;
    position: relative;
    .card-icon{
      padding-left: 85px !important;
      background-repeat: no-repeat;
      background-size: 68px;
      background-position: left top;
      @media screen and (max-width: 992px){
        padding-left: 0px !important;
        padding-top: 85px;
        background-position: left top;
      }
    }
  }
  ul.slick-dots{
    margin-top: 30px;
    bottom: -15px;
    li{
      button{
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        background-color: #dbdbdb;
        width: 13px;
        height: 13px;
        &::before{
          content: '' !important;
        }
      }
      &.slick-active{
        button{
          background-color: #0033a1;
        }
      }
    }
  }
}
/*********************************************************************************/
/*********************************************************************************/
/*** FORM ***/
/*********************************************************************************/
/*********************************************************************************/
.form-field{
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: 15px;
  label{
    width: 100%;
    float: left;
    display: inline-block;
    font-family: @fontBentonSansMedium;
    font-size: 14px;
    color: #666666;
    margin-bottom: 15px;
    &.checkbox{
      padding-left: 30px;
      position: relative;
      &:before{
        content: ' ';
        width: 15px;
        height: 15px;
        display: inline-block;
        border: 2px solid #cccccc;
        position: absolute;
        left: 0;
        top: 2px;
      }
      input{
        visibility: hidden;
      }
    }
  }
  input[type=text]{
    width: 100%;
    height: 60px;
    padding: 20px;
    float: left;
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff;
    border: 2px solid #f5f5f5;
  }
}
.search-field{
  width: 100%;
  float: left;
  display: inline-block;
  position: relative;
  label{
    font-family: BentonSansLight, sans-serif;
    font-size: 16px;
    color: #767676;
    position: absolute;
    top:20px;
    left:45px;
    .bold{
      font-family: BentonSansBold, sans-serif;
    }
  }
  .sbg-input-search{
    width: 100%;
    float: left;
    display: inline-block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    border: none !important;
    padding: 15px 15px 15px 45px;
    height: 60px;
    background-position: left 15px center;
    background-size: 20px;
    background-image: url("../img/generic/standard_bank_icons/search-icon.svg");
    background-repeat: no-repeat;
    font-family: BentonSansLight, sans-serif;
    font-size: 16px;
    color: #767676;
  }
}