/*********************************************************************************/
/*********************************************************************************/
/*** IMPORTS ***/
/*********************************************************************************/
/*********************************************************************************/
@import "font-awesome.min.css";
@import "../plugins/bootstrap/dist/css/bootstrap.min.css";
@import "../plugins/slick-carousel/slick/slick.css";
@import "../plugins/slick-carousel/slick/slick-theme.css";
@import "fonts.css";
/*********************************************************************************/
/*********************************************************************************/
/*** VARAIBLES ***/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*** COLORS ***/
/*********************************************************************************/
/*********************************************************************************/
.color-text-sbg-blue {
  color: #0033a1 !important;
}
.color-text-sbg-progress-blue {
  color: #00a1e0 !important;
}
.color-text-sbg-stature-blue {
  color: #0a2240 !important;
}
.color-text-white {
  color: #ffffff !important;
}
.color-text-green {
  color: #16D28C !important;
}
.color-text-green-light {
  color: #788385 !important;
}
.color-text-yellow {
  color: #FFB404 !important;
}
.color-text-yellow-light {
  color: #FFD36D !important;
}
.color-text-orange {
  color: #FF5B00 !important;
}
.color-text-orange-light {
  color: #FF9D69 !important;
}
.color-text-plum {
  color: #C20047 !important;
}
.color-text-plum-light {
  color: #E25F89 !important;
}
.color-text-mauve {
  color: #C549BD !important;
}
.color-text-mauve-light {
  color: #E091D6 !important;
}
.color-text-purple {
  color: #655DC1 !important;
}
.color-text-purple-light {
  color: #A59CD9 !important;
}
.color-text-platinum {
  color: #788385 !important;
}
.color-text-80-gray {
  color: #949C9D !important;
}
.color-text-60-gray {
  color: #B1B6B5 !important;
}
.color-text-40-gray {
  color: #CED0CD !important;
}
.color-text-20-gray {
  color: #E7E8E6 !important;
}
/*********************************************************************************/
/*********************************************************************************/
/*** BACKGROUNDS ***/
/*********************************************************************************/
/*********************************************************************************/
.background-sbg-blue {
  background-color: #0033a1;
}
.background-sbg-progress-blue {
  background-color: #00a1e0;
}
.background-sbg-stature-blue {
  background-color: #0a2240;
}
.background-white {
  background-color: #ffffff;
}
.background-green {
  background-color: #16D28C;
}
.background-green-light {
  background-color: #788385;
}
.background-yellow {
  background-color: #FFB404;
}
.background-yellow-light {
  background-color: #FFD36D;
}
.background-orange {
  background-color: #FF5B00;
}
.background-orange-light {
  background-color: #FF9D69;
}
.background-orange-lighter {
  background-color: #fda06e;
}
.background-plum {
  background-color: #C20047;
}
.background-plum-light {
  background-color: #E25F89;
}
.background-mauve {
  background-color: #C549BD;
}
.background-mauve-light {
  background-color: #E091D6;
}
.background-purple {
  background-color: #655DC1;
}
.background-purple-light {
  background-color: #A59CD9;
}
.background-platinum {
  background-color: #788385;
}
.background-80-gray {
  background-color: #949C9D;
}
.background-60-gray {
  background-color: #B1B6B5;
}
.background-40-gray {
  background-color: #CED0CD;
}
.background-20-gray {
  background-color: #E7E8E6;
}
.background-fafafa {
  background-color: #fafafa;
}
.background-fcfcfc {
  background-color: #fcfcfc;
}
/*********************************************************************************/
/*********************************************************************************/
/*** MARGINS & PADDINGS ***/
/*********************************************************************************/
/*********************************************************************************/
.margin-top-5 {
  margin-top: 5px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-top-20 {
  margin-top: 5px;
}
.margin-bottom-20 {
  margin-bottom: 5px;
}
.margin-top-25 {
  margin-top: 5px;
}
.margin-bottom-25 {
  margin-bottom: 5px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-bottom-15 {
  padding-bottom: 15px;
}
.padding-top-20 {
  padding-top: 5px;
}
.padding-bottom-20 {
  padding-bottom: 5px;
}
.padding-top-25 {
  padding-top: 5px;
}
.padding-bottom-25 {
  padding-bottom: 5px;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-bottom-30 {
  padding-bottom: 30px;
}
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
.padding-25 {
  padding: 25px;
}
.padding-30 {
  padding: 30px;
}
/*********************************************************************************/
/*********************************************************************************/
/*** TYPOGRAPHY ***/
/*********************************************************************************/
/*********************************************************************************/
h1 {
  font-family: BentonSansBold, sans-serif;
  font-size: 50px;
  line-height: 1.2;
  color: #4d4d4d;
  margin-top: 0;
  margin-bottom: 0;
}
h1 span.light {
  font-family: BentonSansLight, sans-serif;
}
h1 span.regular {
  font-family: BentonSansRegular, sans-serif;
}
h1 span.medium {
  font-family: BentonSansMedium, sans-serif;
}
h1 span.book {
  font-family: BentonSansBook, sans-serif;
}
h2 {
  font-family: BentonSansLight, sans-serif;
  font-size: 40px;
  line-height: 1.25;
  color: #666666;
  margin-top: 0;
  margin-bottom: 0;
}
h2 span.bold {
  font-family: BentonSansBold, sans-serif;
}
h2 span.regular {
  font-family: BentonSansRegular, sans-serif;
}
h2 span.medium {
  font-family: BentonSansMedium, sans-serif;
}
h2 span.book {
  font-family: BentonSansBook, sans-serif;
}
h3 {
  font-family: BentonSansRegular, sans-serif;
  font-size: 25px;
  line-height: 1.2;
  color: #666666;
  margin-top: 0;
  margin-bottom: 0;
}
h3 span.bold {
  font-family: BentonSansBold, sans-serif;
}
h3 span.light {
  font-family: BentonSansLight, sans-serif;
}
h3 span.medium {
  font-family: BentonSansMedium, sans-serif;
}
h3 span.book {
  font-family: BentonSansBook, sans-serif;
}
h4 {
  font-family: BentonSansRegular, sans-serif;
  font-size: 18px;
  line-height: 1.67;
  color: #666666;
  margin-top: 0;
  margin-bottom: 0;
}
h4 span.bold {
  font-family: BentonSansBold, sans-serif;
}
h4 span.light {
  font-family: BentonSansLight, sans-serif;
}
h4 span.medium {
  font-family: BentonSansMedium, sans-serif;
}
h4 span.book {
  font-family: BentonSansBook, sans-serif;
}
h5 {
  font-family: BentonSansRegular, sans-serif;
  font-size: 16px;
  line-height: 1.88;
  color: #666666;
  margin-top: 0;
  margin-bottom: 0;
}
h5 span.bold {
  font-family: BentonSansBold, sans-serif;
}
h5 span.light {
  font-family: BentonSansLight, sans-serif;
}
h5 span.medium {
  font-family: BentonSansMedium, sans-serif;
}
h5 span.book {
  font-family: BentonSansBook, sans-serif;
}
h6 {
  font-family: BentonSansMedium, sans-serif;
  font-size: 14px;
  line-height: 2.14;
  color: #666666;
  margin-top: 0;
  margin-bottom: 0;
}
h6 span.bold {
  font-family: BentonSansBold, sans-serif;
}
h6 span.light {
  font-family: BentonSansLight, sans-serif;
}
h6 span.regular {
  font-family: BentonSansRegular, sans-serif;
}
h6 span.book {
  font-family: BentonSansBook, sans-serif;
}
p {
  font-family: BentonSansRegular, sans-serif;
  font-size: 16px;
  line-height: 1.88;
  color: #666666;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  width: 100%;
  display: inline-block;
}
p span.bold {
  font-family: BentonSansBold, sans-serif;
}
p span.light {
  font-family: BentonSansLight, sans-serif;
}
p span.medium {
  font-family: BentonSansMedium, sans-serif;
}
p span.book {
  font-family: BentonSansBook, sans-serif;
}
p.title {
  font-family: BentonSansBold, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  color: #333333;
}
p.price {
  font-family: BentonSansBook, sans-serif;
  font-size: 24px;
  line-height: 1.74;
  color: #333333;
}
p.price .small {
  font-size: 16px;
}
p.description {
  font-family: BentonSansRegular, sans-serif;
  font-size: 16px;
  line-height: 1.88;
  color: #333333;
}
p.description span.bold {
  font-family: BentonSansBold, sans-serif;
}
p.description span.light {
  font-family: BentonSansLight, sans-serif;
}
p.description span.medium {
  font-family: BentonSansMedium, sans-serif;
}
p.description span.book {
  font-family: BentonSansBook, sans-serif;
}
p.small {
  font-size: 11px;
  line-height: 1.18;
  color: #666666;
}
p.small.icon {
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 18px;
  padding-left: 30px;
}
ul,
ol {
  font-family: BentonSansRegular, sans-serif;
  font-size: 13px;
  line-height: 3.3;
  color: #666666;
}
ul span.bold,
ol span.bold {
  font-family: BentonSansBold, sans-serif;
}
ul span.light,
ol span.light {
  font-family: BentonSansLight, sans-serif;
}
ul span.medium,
ol span.medium {
  font-family: BentonSansMedium, sans-serif;
}
ul span.book,
ol span.book {
  font-family: BentonSansBook, sans-serif;
}
ul li,
ol li {
  padding-left: 30px;
}
ul.check,
ol.check {
  list-style: none;
  margin-left: -15px;
  padding-left: 15px;
}
ul.check li,
ol.check li {
  background-position: left top 13px;
  background-repeat: no-repeat;
  background-image: url("../img/generic/standard_bank_icons/list_check.svg");
  background-size: 15px;
}
ul.paragraphy-style,
ol.paragraphy-style {
  font-family: BentonSansRegular, sans-serif;
  font-size: 16px;
  line-height: 1.88;
  color: #666666;
  padding-left: 15px;
}
ul.paragraphy-style li,
ol.paragraphy-style li {
  padding-left: 5px;
}
/*********************************************************************************/
/*********************************************************************************/
/*** CONTAINERS ***/
/*********************************************************************************/
/*********************************************************************************/
.sbg-fullwidth-container {
  width: 100%;
  float: left;
  display: inline-block;
}
.sbg-container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
/*********************************************************************************/
/*********************************************************************************/
/*** BREADCRUMB ***/
/*********************************************************************************/
/*********************************************************************************/
ul.sbg-breadcrumb {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}
ul.sbg-breadcrumb li {
  padding-left: 0px;
  padding-right: 30px;
  float: left;
  background-image: url("../img/generic/breadcrumb.svg");
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: 5px;
}
ul.sbg-breadcrumb li a {
  font-family: BentonSansBook, sans-serif;
  font-size: 13px;
  line-height: 2.31;
  color: #cccccc;
  text-decoration: none !important;
  border-bottom: none;
}
ul.sbg-breadcrumb li.active {
  background-image: none;
}
ul.sbg-breadcrumb li.active a {
  color: #00a1e0;
}
/*********************************************************************************/
/*********************************************************************************/
/*** DROPSHADOW ***/
/*********************************************************************************/
/*********************************************************************************/
.card-dropshadow {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  display: inline-block;
  overflow: hidden;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
  width: 100%;
}
.card-dropshadow.card-icon {
  padding-left: 100px !important;
  background-repeat: no-repeat;
  background-size: 68px;
  background-position: left 15px top 30px;
}
@media screen and (max-width: 992px) {
  .card-dropshadow.card-icon {
    padding-left: 30px !important;
    padding-top: 100px;
    background-position: left 30px top 15px;
  }
}
.card-dropshadow:hover {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
/*********************************************************************************/
/*********************************************************************************/
/*** BUTTONS & LINKS ***/
/*********************************************************************************/
/*********************************************************************************/
.button {
  min-width: 149px;
  min-height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block !important;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  background-color: #0033a1;
  text-transform: uppercase;
  color: #ffffff;
  font-family: BentonSansBold, sans-serif;
  border: solid 2px #0033a1;
  line-height: 40px;
  margin-bottom: 15px;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  transition: ease 0.2s;
}
.button:hover,
.button.active,
.button:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #1569d7;
  border-color: #1569d7;
}
.button.introduction-button {
  border: solid 2px #00a1e0;
  margin-left: 15px;
  background-color: #00a1e0;
  color: #ffffff;
}
.button.introduction-button:hover,
.button.introduction-button:focus,
.button.introduction-button:active {
  color: #ffffff;
}
.button.secondary-button {
  background-color: transparent;
  color: #0033a1;
}
.button.secondary-button:hover,
.button.secondary-button:focus,
.button.secondary-button:active {
  color: #0033a1;
  background-color: rgba(21, 105, 214, 0.2);
}
.button.tertiary-button {
  border-color: #ffffff !important;
  background-color: transparent;
  color: #ffffff;
}
.button.tertiary-button:hover,
.button.tertiary-button:focus,
.button.tertiary-button:active {
  color: #333333;
  background-color: #ffffff;
}
.button.tertiary-button .badge {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  margin-top: -3px;
}
.button.compare-button-result {
  border-color: #ffffff !important;
  background-color: transparent;
  color: #ffffff;
}
.button.compare-button-result:hover,
.button.compare-button-result:focus,
.button.compare-button-result:active {
  color: #333333;
  background-color: #ffffff;
}
.button.compare-button-result:hover .badge,
.button.compare-button-result:focus .badge,
.button.compare-button-result:active .badge {
  color: #333333;
  border-color: #333333;
}
.button.compare-button-result .badge {
  margin-left: 5px;
  width: 25px;
  height: 25px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  margin-top: -3px;
  padding-top: 5px;
  text-align: center;
}
.button.compare-button-result .badge.badge-hidden {
  display: none;
}
.button.compare-close-button {
  min-width: 70px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: right 15px center;
  background-image: url("../img/generic/standard_bank_icons/compare-close-icon.svg");
  font-family: BentonSansRegular, sans-serif;
  font-size: 12px !important;
  padding-right: 50px;
}
.button.white-button {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.button.white-button:hover,
.button.white-button:focus,
.button.white-button:active {
  color: #ffffff;
  border-color: #ffffff !important;
  background-color: transparent;
}
.button.load-more {
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 2px #f5f5f5;
  display: inline-block;
  color: #b3b3b3;
}
@media screen and (max-width: 767px) {
  .button {
    width: 100%;
  }
  .button.introduction-button {
    margin-left: 0;
  }
}
a {
  font-family: BentonSansRegular, sans-serif;
  font-size: 16px;
  line-height: 1.88;
  color: #00a1e0;
  border-bottom: 1px solid #00a1e0;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: #00a1e0;
  text-decoration: none;
}
a.add-to-compare {
  font-family: BentonSansRegular, sans-serif;
  font-size: 11px;
  line-height: 2;
  color: #333333;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  background-image: url("../img/generic/compare.svg");
  background-position: left center;
  background-size: 23px;
  background-repeat: no-repeat;
  text-decoration: none !important;
  border-bottom: none;
}
a.add-to-compare.compare-button-remove {
  background-image: url("../img/generic/compare_remove.svg");
}
a.add-to-compare.compare-remove-page {
  background-image: url("../img/generic/compare_remove.svg");
  background-position: center center;
  background-size: 23px;
  background-repeat: no-repeat;
  text-align: center;
  padding-left: 0px;
  padding-top: 50px;
  line-height: 7;
}
a.info-tooltip {
  font-family: BentonSansRegular, sans-serif;
  font-size: 11px;
  line-height: 2;
  color: #333333;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
  background-image: url("../img/generic/question.svg");
  background-position: right center;
  background-size: 23px;
  background-repeat: no-repeat;
  text-decoration: none !important;
  border-bottom: none;
}
a.white-link {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
a.white-link:hover,
a.white-link:active,
a.white-link:focus {
  color: #ffffff;
  text-decoration: none;
}
.button-backtop {
  display: inline-block;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-image: url("../img/generic/back-to-top.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 45px;
  text-decoration: none !important;
  width: 50px;
  height: 50px;
  border-bottom: none;
}
@media screen and (max-width: 767px) {
  .button-backtop {
    width: 30px;
    height: 30px;
    background-size: 30px;
  }
}
/*********************************************************************************/
/*********************************************************************************/
/*** CARDS ***/
/*********************************************************************************/
/*********************************************************************************/
@media screen and (max-width: 767px) {
  .card-list-container {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.card-types {
  margin-bottom: 15px;
}
.card-types .card-summary-information {
  background-position: left 45% center;
  background-size: 2px;
  background-image: url("../img/generic/standard_bank_icons/summary_line.svg");
  background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
  .card-types .card-summary-information {
    background-position: left 47% center;
  }
}
@media screen and (max-width: 1024px) {
  .card-types .card-summary-information {
    background-position: left 48% center;
  }
}
@media screen and (max-width: 992px) {
  .card-types .card-summary-information {
    background-image: none !important;
  }
}
@media screen and (max-width: 767px) {
  .card-types {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  .card-types h2 {
    font-family: BentonSansLight, sans-serif;
    font-size: 25px;
    line-height: 1.2;
    color: #666666;
  }
}
.card-types:last-child {
  margin-bottom: 0px;
}
@media screen and (max-width: 767px) {
  .card-types:last-child {
    margin-bottom: 15px;
  }
}
.card-types.card-detail {
  padding-bottom: 50px;
}
.card-benefits {
  width: 100%;
  float: left;
  display: inline-block;
}
.card-benefits .image {
  width: 100%;
  float: left;
  display: inline-block;
  min-height: 70px;
  overflow: hidden;
  margin-bottom: 15px;
  white-space: nowrap;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.card-benefits .image img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  width: auto;
  max-height: 50px;
}
.card-benefits .title {
  width: 100%;
  float: left;
  display: inline-block;
  min-height: 50px;
}
.card-benefits .description {
  width: 100%;
  float: left;
  display: inline-block;
  min-height: 150px;
  margin-bottom: 15px;
}
.card-benefits .button-container {
  width: 100%;
  float: left;
  display: inline-block;
}
.card-benefits.card-benefits-hide .image {
  width: 100%;
  float: left;
  display: inline-block;
  min-height: 70px;
  overflow: hidden;
  margin-bottom: 15px;
  white-space: nowrap;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.card-benefits.card-benefits-hide .image img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  width: auto;
  max-height: 50px;
}
@media screen and (max-width: 767px) {
  .card-benefits.card-benefits-hide .image {
    display: none;
  }
}
.card-benefits.card-benefits-hide .title {
  width: 100%;
  float: left;
  display: inline-block;
  min-height: 50px;
}
.card-benefits.card-benefits-hide .title > a {
  display: none;
}
@media screen and (max-width: 767px) {
  .card-benefits.card-benefits-hide .title > h4 {
    display: none;
  }
  .card-benefits.card-benefits-hide .title > a {
    display: inline-block;
    min-height: auto;
    margin-bottom: 15px;
    background-image: url("../img/generic/link_blue_arrow.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-right: 30px;
    border-bottom: none;
  }
}
.card-benefits.card-benefits-hide .description {
  width: 100%;
  float: left;
  display: inline-block;
  min-height: 150px;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .card-benefits.card-benefits-hide .description {
    display: none;
  }
}
.card-benefits.card-benefits-hide .button-container {
  width: 100%;
  float: left;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .card-benefits.card-benefits-hide .button-container {
    display: none;
  }
}
.card-benefits-2 {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 15px;
}
.card-benefits-2 .image {
  width: 100%;
  float: left;
  display: inline-block;
  min-height: 120px;
  overflow: hidden;
  margin-bottom: 15px;
  white-space: nowrap;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.card-benefits-2 .image img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  width: auto;
  max-height: 50px;
}
@media screen and (max-width: 767px) {
  .card-benefits-2 .image {
    display: none;
  }
}
.card-benefits-2 .title {
  width: 100%;
  float: left;
  display: inline-block;
  min-height: 50px;
}
.card-benefits-2 .description {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 15px;
}
.card-benefits-2 .button-container {
  width: 100%;
  float: left;
  display: inline-block;
}
.card-manage {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 30px;
  min-height: 205px;
  background-image: url("../img/generic/more-icon.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: right 30px bottom 30px;
}
.card-manage .image {
  width: 100%;
  float: left;
  display: inline-block;
  min-height: 70px;
}
.card-manage.see-more {
  background-color: transparent;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: none;
}
.card-manage.see-more .title {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .card-manage {
    min-height: auto;
  }
}
.card-guidance {
  width: 100%;
  float: left;
  display: inline-block;
  min-height: 468px;
  position: relative;
  margin-bottom: 20px;
}
.card-guidance .image {
  width: 100%;
  height: 234px;
  float: left;
  display: inline-block;
  background-color: #CED0CD;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-left: 15px;
  padding-top: 15px;
}
.card-guidance .details {
  width: 100%;
  float: left;
  display: inline-block;
}
.card-guidance .details .category {
  width: 100%;
  float: left;
  display: inline-block;
  padding: 30px 30px 15px 30px;
}
.card-guidance .details .title {
  width: 100%;
  float: left;
  display: inline-block;
  padding: 0px 30px 30px 30px;
  min-height: 90px;
}
.card-guidance .details .button-container {
  padding: 0px 30px 0px 30px;
}
.card-guidance.card-smaller {
  margin-bottom: 20px;
  min-height: 224px;
}
.card-guidance.card-smaller .image {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
}
.card-guidance.card-smaller .details {
  width: 50%;
  float: left;
  display: inline-block;
}
.card-guidance.card-smaller .details .category {
  width: 100%;
  float: left;
  display: inline-block;
  padding: 15px 30px 15px 15px;
}
.card-guidance.card-smaller .details .title {
  width: 100%;
  float: left;
  display: inline-block;
  padding: 0px 30px 15px 15px;
  min-height: 100px;
}
.card-guidance.card-smaller .details .button-container {
  width: 100%;
  float: left;
  display: inline-block;
  padding: 0px 15px 0px 15px;
}
@media screen and (max-width: 767px) {
  .card-guidance.card-smaller {
    min-height: 160px;
  }
  .card-guidance.card-smaller .details {
    width: 50%;
    float: left;
    display: inline-block;
  }
  .card-guidance.card-smaller .details .category {
    width: 100%;
    float: left;
    display: inline-block;
    padding: 15px 30px 15px 15px;
  }
  .card-guidance.card-smaller .details .title {
    padding: 0px 15px 15px 15px;
    min-height: 70px;
  }
  .card-guidance.card-smaller .details .title p {
    font-size: 15px !important;
    line-height: 1.33 !important;
  }
  .card-guidance.card-smaller .details .button-container {
    padding: 0px 15px 0px 15px;
  }
  .card-guidance.card-smaller .details .button-container .button {
    min-width: auto !important;
    min-height: auto !important;
    border: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: #0033a1;
    background-color: transparent !important;
    text-align: left !important;
  }
}
@media screen and (max-width: 767px) {
  .card-guidance.card-small-mobile {
    min-height: 160px;
  }
  .card-guidance.card-small-mobile .image {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
  }
  .card-guidance.card-small-mobile .details {
    width: 50%;
    float: left;
    display: inline-block;
  }
  .card-guidance.card-small-mobile .details .category {
    width: 100%;
    float: left;
    display: inline-block;
    padding: 15px 30px 15px 15px;
  }
  .card-guidance.card-small-mobile .details .title {
    padding: 0px 15px 15px 15px;
    min-height: 70px;
  }
  .card-guidance.card-small-mobile .details .title p {
    font-size: 15px !important;
    line-height: 1.33 !important;
  }
  .card-guidance.card-small-mobile .details .button-container {
    padding: 0px 15px 0px 15px;
  }
  .card-guidance.card-small-mobile .details .button-container .button {
    min-width: auto !important;
    min-height: auto !important;
    border: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: #0033a1;
    background-color: transparent !important;
    text-align: left !important;
  }
}
.card-filter {
  width: 100%;
  float: left;
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  background-image: url(../img/generic/card_dropdown_arrow.svg);
  background-size: 20px;
  background-position: right 15px top 25px;
  background-repeat: no-repeat;
}
.card-filter.open {
  background-image: url(../img/generic/card_dropdown_arrow_open.svg) !important;
}
.card-filter.open .all_cards {
  display: inline-block;
}
.card-filter .show_label {
  width: 100%;
  float: left;
  display: inline-block;
  padding: 15px;
  cursor: pointer;
}
.card-filter .show_label .title {
  width: 50px;
  float: left;
  display: inline-block;
  position: absolute;
  font-family: BentonSansRegular, sans-serif;
  font-size: 16px;
  line-height: 1.88;
  color: #666666;
}
.card-filter .show_label .cards {
  padding-left: 50px;
  padding-right: 20px;
  font-family: BentonSansRegular, sans-serif;
  font-size: 16px;
  line-height: 1.88;
  color: #333333;
}
.card-filter .all_cards {
  width: 100%;
  float: left;
  display: none;
}
.card-filter .all_cards a {
  padding: 15px;
  width: 100%;
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: BentonSansRegular, sans-serif;
  font-size: 16px;
  line-height: 1.88;
  color: #666666;
  text-decoration: none !important;
  border-top: 1px solid #f6f6f6;
  border-bottom: none;
}
.card-filter .all_cards a:hover,
.card-filter .all_cards a:focus,
.card-filter .all_cards a:active {
  color: #666666;
  text-decoration: none !important;
}
.card-tabs {
  min-height: 600px;
}
.card-tabs .main-container {
  border-top: 2px solid #ededed;
}
.card-tabs .button-container {
  margin-bottom: -2px;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 767px) {
  .card-tabs .button-container {
    overflow-x: scroll;
    /* optional: show position indicator in red */
  }
  .card-tabs .button-container::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    height: 0px;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
  }
}
.card-tabs .button-container .tab-scroller {
  display: inline-block;
}
.card-tabs .button-container a {
  font-family: BentonSansMedium, sans-serif;
  font-size: 18px;
  text-decoration: none;
  border-bottom: none;
  color: #949C9D;
  padding-bottom: 15px;
  display: inline-block;
  margin-right: 30px;
  z-index: 10;
  position: relative;
}
.card-tabs .button-container a.active {
  color: #0033a1;
  font-family: BentonSansBold, sans-serif;
  border-bottom: 2px solid #0033a1;
}
.card-tabs .content-container {
  width: 100%;
  min-height: 350px;
  float: left;
  display: none;
}
.card-tabs .content-container.active {
  display: inline-block;
}
.card-tabs .content-container .inner-container {
  width: 66.66666666666667%;
  display: inline-block;
  float: left;
}
@media screen and (max-width: 992px) {
  .card-tabs .content-container .inner-container {
    width: 100%;
  }
}
.card-tabs .form-container {
  width: 33.33333333333333%;
  position: absolute;
  right: 0px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 2;
}
@media screen and (max-width: 992px) {
  .card-tabs .form-container {
    position: relative;
    width: 100%;
    right: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.card-title-description-links {
  min-height: 255px;
}
@media screen and (max-width: 992px) {
  .card-form {
    margin-top: 15px;
  }
}
.card-form .card-icon {
  padding-left: 85px !important;
  background-repeat: no-repeat;
  background-size: 68px;
  background-position: left top;
}
@media screen and (max-width: 992px) {
  .card-form .card-icon {
    padding-left: 0px !important;
    padding-top: 85px;
    background-position: left top;
  }
}
.card-table .heading {
  width: 100%;
  float: left;
  display: inline-block;
}
.card-table .entry {
  width: 100%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #E7E8E6;
}
.card-table .entry .name {
  float: left;
}
.card-table .entry .value {
  float: right;
}
.card-scroll-down {
  margin-top: -40px;
}
.card-compare-strip {
  height: 80px;
  position: fixed;
  bottom: -80px;
  left: 0;
  z-index: 10;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}
.card-compare-strip .compare-close-button.mobile {
  display: none !important;
  width: 50px;
  min-width: auto;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
}
.card-compare-strip .messaging {
  display: inline-block;
  line-height: 80px;
}
.card-compare-strip .messaging p {
  vertical-align: middle;
}
.card-compare-strip .messaging .compare-close-button.mobile {
  display: none;
}
.card-compare-strip .buttons {
  position: relative;
  float: right;
}
.card-compare-strip .buttons .inner {
  line-height: 80px;
}
.card-compare-strip.visible {
  bottom: 0px;
}
@media screen and (max-width: 767px) {
  .card-compare-strip {
    height: 140px;
  }
  .card-compare-strip.hide-compare {
    bottom: -140px;
  }
  .card-compare-strip .compare-close-button.mobile {
    display: inline-block !important;
  }
  .card-compare-strip .messaging {
    width: 90%;
    padding: 10px;
    line-height: 20px;
    min-height: 60px;
  }
  .card-compare-strip .messaging p {
    line-height: 20px;
    font-size: 12px;
  }
  .card-compare-strip .buttons {
    width: 100%;
    padding: 0px 10px 10px 10px;
    float: left;
  }
  .card-compare-strip .buttons .inner {
    width: 100%;
    line-height: 20px;
  }
  .card-compare-strip .buttons .inner .compare-close-button {
    display: none !important;
  }
}
.card-compare-block {
  min-height: 250px;
}
.card-compare-block .card-compare-add-block {
  width: 100%;
  float: left;
  display: inline-block;
}
.card-compare-block .card-compare-add-block .compare-add-icon {
  width: 100%;
  float: left;
  display: inline-block;
  height: 55px;
  background-image: url("../img/generic/standard_bank_icons/compare-add-icon.svg");
  background-size: 55px;
  background-position: center center;
  background-repeat: no-repeat;
}
.card-compare-block .card-compare-add-block .card-compare-add-dropdown {
  width: 263px;
  display: inline-block;
  position: relative;
}
.card-compare-block .card-compare-add-block .card-compare-add-dropdown a.select {
  text-align: left;
  width: 100%;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 2px #f5f5f5;
  font-size: 12px;
  color: #999999;
  padding: 10px;
}
.card-compare-block .card-compare-add-block .card-compare-add-dropdown .dropdown {
  margin-top: 15px;
  width: 100%;
  display: none;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 2px #f5f5f5;
  font-size: 12px;
  color: #999999;
  padding: 2px;
  z-index: 3;
  left: 0;
  position: absolute;
}
.card-compare-block .card-compare-add-block .card-compare-add-dropdown .dropdown.open {
  display: inline-block;
}
.card-compare-block .card-compare-add-block .card-compare-add-dropdown .dropdown a {
  width: 100%;
  display: inline-block;
  float: left;
  border-bottom: 0;
  font-size: 12px;
  color: #999999;
  padding: 10px;
  text-align: left;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 2px #ffffff;
}
.card-compare-block .card-compare-add-block .card-compare-add-dropdown .dropdown a.disabled {
  background-color: #fafafa;
}
.card-compare-block .card-compare-border-top {
  border-top: 2px solid #ededed;
}
.card-compare-block .card-compare-border-bottom {
  border-bottom: 2px solid #ededed;
}
.card-compare-block .card-compare-table {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
.card-compare-block .card-compare-table .card-compare-cell {
  width: 30%;
  height: 90px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
.card-compare-block .card-compare-table .card-compare-cell.last {
  width: 70%;
  text-align: right;
}
.card-compare-block .card-compare-benefits {
  min-height: 250px;
}
.card-manage-your-account {
  width: 100%;
  display: inline-block;
  float: left;
}
.card-manage-your-account.with-icon .title {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50px;
  padding: 50px 50px 50px 100px;
}
.card-manage-your-account .title {
  padding: 50px;
  width: 100%;
  display: inline-block;
  float: left;
  font-family: BentonSansLight, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  color: #ffffff;
}
.card-manage-your-account .title .bold {
  font-family: BentonSansBold, sans-serif;
}
.card-manage-your-account .links {
  padding: 20px;
  width: 100%;
  display: inline-block;
  float: left;
}
.card-manage-your-account .links a {
  display: inline-block;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
}
/*********************************************************************************/
/*********************************************************************************/
/*** FLOATABLE CONTAINER ***/
/*********************************************************************************/
/*********************************************************************************/
.sbg-floating-absolute {
  margin-bottom: 30px;
  position: absolute;
}
.sbg-floating-fixed {
  position: fixed;
  top: 0;
}
.sbg-floating-static {
  position: absolute;
}
/*********************************************************************************/
/*********************************************************************************/
/*** ICONS ***/
/*********************************************************************************/
/*********************************************************************************/
.icon-service-type {
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: left center;
  font-family: BentonSansRegular, sans-serif;
  font-size: 12px;
  line-height: 1.67;
  color: #666666;
  height: 50px;
  padding-left: 55px;
  padding-top: 15px;
}
/*********************************************************************************/
/*********************************************************************************/
/*** CAROUSELS ***/
/*********************************************************************************/
/*********************************************************************************/
.sbg-benefits-carousel-container ul.slick-dots {
  margin-top: 30px;
}
.sbg-benefits-carousel-container ul.slick-dots li button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #dbdbdb;
  width: 13px;
  height: 13px;
}
.sbg-benefits-carousel-container ul.slick-dots li button::before {
  content: '' !important;
}
.sbg-benefits-carousel-container ul.slick-dots li.slick-active button {
  background-color: #0033a1;
}
@media screen and (max-width: 767px) {
  .sbg-benefits-carousel-container {
    margin-bottom: 30px;
  }
}
.card-switch-carousel {
  margin-bottom: 30px;
  z-index: 1;
}
.card-switch-carousel .item {
  width: 100%;
  float: left;
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
}
.card-switch-carousel .item .align-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-switch-carousel .slick-prev {
  background-image: url(../img/generic/standard_bank_icons/carousel-prev-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60px;
  width: 60px;
  height: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 0px;
  z-index: 10;
}
.card-switch-carousel .slick-prev:before {
  content: ' ';
}
.card-switch-carousel .slick-next {
  background-image: url(../img/generic/standard_bank_icons/carousel-next-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60px;
  width: 60px;
  height: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 0;
  z-index: 10;
}
.card-switch-carousel .slick-next:before {
  content: ' ';
}
.card-switch-carousel ul.slick-dots {
  margin-top: 30px;
}
.card-switch-carousel ul.slick-dots li button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 13px;
  height: 13px;
}
.card-switch-carousel ul.slick-dots li button::before {
  content: '' !important;
}
.card-switch-carousel ul.slick-dots li.slick-active button {
  background-color: #ffffff;
}
.compare-carousel {
  z-index: 2;
}
.compare-carousel .slick-list {
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: visible;
}
.card-cross-sell-carousel {
  position: relative;
  width: 100%;
}
.card-cross-sell-carousel .item {
  width: 100%;
  display: inline-block;
  padding: 30px 50px 30px 30px;
  position: relative;
}
.card-cross-sell-carousel .item .card-icon {
  padding-left: 85px !important;
  background-repeat: no-repeat;
  background-size: 68px;
  background-position: left top;
}
@media screen and (max-width: 992px) {
  .card-cross-sell-carousel .item .card-icon {
    padding-left: 0px !important;
    padding-top: 85px;
    background-position: left top;
  }
}
.card-cross-sell-carousel ul.slick-dots {
  margin-top: 30px;
  bottom: -15px;
}
.card-cross-sell-carousel ul.slick-dots li button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #dbdbdb;
  width: 13px;
  height: 13px;
}
.card-cross-sell-carousel ul.slick-dots li button::before {
  content: '' !important;
}
.card-cross-sell-carousel ul.slick-dots li.slick-active button {
  background-color: #0033a1;
}
/*********************************************************************************/
/*********************************************************************************/
/*** FORM ***/
/*********************************************************************************/
/*********************************************************************************/
.form-field {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: 15px;
}
.form-field label {
  width: 100%;
  float: left;
  display: inline-block;
  font-family: BentonSansMedium, sans-serif;
  font-size: 14px;
  color: #666666;
  margin-bottom: 15px;
}
.form-field label.checkbox {
  padding-left: 30px;
  position: relative;
}
.form-field label.checkbox:before {
  content: ' ';
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 2px solid #cccccc;
  position: absolute;
  left: 0;
  top: 2px;
}
.form-field label.checkbox input {
  visibility: hidden;
}
.form-field input[type=text] {
  width: 100%;
  height: 60px;
  padding: 20px;
  float: left;
  display: inline-block;
  border-radius: 4px;
  background-color: #ffffff;
  border: 2px solid #f5f5f5;
}
.search-field {
  width: 100%;
  float: left;
  display: inline-block;
  position: relative;
}
.search-field label {
  font-family: BentonSansLight, sans-serif;
  font-size: 16px;
  color: #767676;
  position: absolute;
  top: 20px;
  left: 45px;
}
.search-field label .bold {
  font-family: BentonSansBold, sans-serif;
}
.search-field .sbg-input-search {
  width: 100%;
  float: left;
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border: none !important;
  padding: 15px 15px 15px 45px;
  height: 60px;
  background-position: left 15px center;
  background-size: 20px;
  background-image: url("../img/generic/standard_bank_icons/search-icon.svg");
  background-repeat: no-repeat;
  font-family: BentonSansLight, sans-serif;
  font-size: 16px;
  color: #767676;
}
