/*********************************************************************************/
/*********************************************************************************/
/*** INCLUDES ***/
/*********************************************************************************/
/*********************************************************************************/
@import "../plugins/bootstrap/dist/css/bootstrap.min.css";
@import "../plugins/slick-carousel/slick/slick.css";
@import "../plugins/slick-carousel/slick/slick-theme.css";
@import "fonts.css";




/*********************************************************************************/
/*********************************************************************************/
/*** VARAIBLES ***/
/*********************************************************************************/
/*********************************************************************************/
@fontBentonSansMedium: BentonSansMedium, sans-serif;
@fontBentonSansRegular: BentonSansRegular, sans-serif;
@fontBentonSansBold: BentonSansBold, sans-serif;
@fontBentonSansBook: BentonSansBook, sans-serif;
@fontBentonSansLight: BentonSansLight, sans-serif;

@backgroundColorLightGrey: #f9f9f9;
@backgroundColorGrey2: #f6f6f6;
@backgroundColorGrey: #fafafa;
@backgroundColorDarkGrey: #e5eaf6;
@backgroundColorDarkRed: #aa0050;
@backgroundColorBlue: #0033aa;
@backgroundColorLightBlue: #00a1e0;
@backgroundColorWhite: #ffffff;

@colorBlue: #0033aa;
@colorLightBlue: #00a1e0;
@colorGrey: #666666;
@colorGreyLightDark: #ededed;
@colorGreyDark: #333333;
@colorWhite: #ffffff;

/*********************************************************************************/
/*********************************************************************************/
/*** GENERAL ***/
/*********************************************************************************/
/*********************************************************************************/
body{
  font-family: @fontBentonSansRegular;
}

.margin-top-5{
  margin-top: 5px;
}
.margin-bottom-5{
  margin-bottom: 5px;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
.margin-top-15{
  margin-top: 15px;
}
.margin-bottom-15{
  margin-bottom: 15px;
}
.margin-top-20{
  margin-top: 5px;
}
.margin-bottom-20{
  margin-bottom: 5px;
}
.margin-top-25{
  margin-top: 5px;
}
.margin-bottom-25{
  margin-bottom: 5px;
}
.margin-top-30{
  margin-top: 30px;
}
.margin-bottom-30{
  margin-bottom: 30px;
}

.padding-top-5{
  padding-top: 5px;
}
.padding-bottom-5{
  padding-bottom: 5px;
}
.padding-top-10{
  padding-top: 10px;
}
.padding-bottom-10{
  padding-bottom: 10px;
}
.padding-top-15{
  padding-top: 15px;
}
.padding-bottom-15{
  padding-bottom: 15px;
}
.padding-top-20{
  padding-top: 5px;
}
.padding-bottom-20{
  padding-bottom: 5px;
}
.padding-top-25{
  padding-top: 5px;
}
.padding-bottom-25{
  padding-bottom: 5px;
}
.padding-top-30{
  padding-top: 30px;
}
.padding-bottom-30{
  padding-bottom: 30px;
}

/*********************************************************************************/
/*********************************************************************************/
/*** BACKGROUNDS ***/
/*********************************************************************************/
/*********************************************************************************/
.sbg-background-light-blue{
  background-color: @backgroundColorLightBlue;
}
.sbg-background-grey{
  background-color: @backgroundColorGrey;
}
.sbg-background-grey-2{
  background-color: @backgroundColorGrey2;
}
.sbg-background-dark-grey{
  background-color: @backgroundColorDarkGrey;
}
.sbg-background-light-grey{
  background-color: @backgroundColorLightGrey;
}
.sbg-background-dark-red{
  background-color: @backgroundColorDarkRed;
}
.sbg-background-white{
  background-color: @backgroundColorWhite;
}

/*********************************************************************************/
/*********************************************************************************/
/*** TYPOGRAPHY ***/
/*********************************************************************************/
/*********************************************************************************/
.heading-1{
  font-family: @fontBentonSansLight;
  font-size: 50px;
  color: @colorBlue;
  margin-top: 0px;
  margin-bottom: 0px;
  strong{
    font-family: @fontBentonSansBold;
  }
  @media screen and (max-width: 480px) {
    font-size: 40px;
  }
}
.heading-2{
  font-family: @fontBentonSansLight;
  font-size: 40px;
  font-weight: 300;
  line-height: 50px;
  color: @colorGrey;
  margin-top: 0px;
  margin-bottom: 0px;
  strong{
    font-family: @fontBentonSansBold;
  }
}
.heading-mobile-2{
  font-family: @fontBentonSansLight;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  color: @colorGrey;
  margin-top: 0px;
  margin-bottom: 0px;
  strong{
    font-family: @fontBentonSansBold;
  }
}
.heading-3{
  font-family: @fontBentonSansRegular;
  font-size: 24px;
  line-height: 1;
  color: @colorWhite;
  margin-top: 0px;
  margin-bottom: 0px;
  strong{
    font-family: @fontBentonSansBold;
  }
}
.heading-4{
  font-family: BentonSansLight, sans-serif;
  font-size: 24px;
  line-height: 1.20;
  color: #666666;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  strong{
    font-family: BentonSansBold, sans-serif;
  }
  &:hover,&:focus,&:active{
    color: #666666;
    text-decoration: none;
  }
}
.heading-5{
  font-family: BentonSansRegular, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #666666;
  margin-top: 0px;
  margin-bottom: 0px;
  strong{
    font-family: BentonSansBold, sans-serif;
  }
}
.heading-6{
  font-family: @fontBentonSansRegular;
  font-size: 40px;
  line-height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  strong{
    font-family: @fontBentonSansBold;
  }
}
.paragraph-1{
  font-family: @fontBentonSansRegular;
  font-size: 16px;
  line-height: 1.88;
  color: @colorGrey;
  &.white{
    color: @colorWhite;
  }
}
.paragraph-2{
  font-family: @fontBentonSansRegular;
  font-size: 9px;
  line-height: 1.22;
  color: @colorGrey;
}
.paragraph-3{
  font-family: BentonSansBook, sans-serif;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: @colorLightBlue;
}
.paragraph-4{
  font-family: @fontBentonSansRegular;
  font-size: 11px;
  line-height: 1.22;
  color: @colorGrey;
}
.title-summary-1{
  font-family: @fontBentonSansBold;
  font-size: 14px;
  line-height: 2.14;
  color: @colorGreyDark;
}
.amount-summary-1{
  font-family: @fontBentonSansBook;
  font-size: 30px;
  color: @colorGreyDark;
  small{
    font-size: 16px;
  }
}
.color-white{
  color: @colorWhite;
}

/*********************************************************************************/
/*********************************************************************************/
/*** CONTAINERS ***/
/*********************************************************************************/
/*********************************************************************************/
.sbg-fullwidth-container{
  width: 100%;
  float: left;
  display: inline-block;
  position: relative;
}
.sbg-container{
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.sbg-card-fullwidth-container{
  @media screen and (max-width: 992px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.sbg-benefits-carousel-container{
  ul.slick-dots{
    margin-top: 30px;
    li{
      button{
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        background-color: #dbdbdb;
        width: 13px;
        height: 13px;
        &::before{
          content: '' !important;
        }
      }
      &.slick-active{
        button{
          background-color: #0033a1;
        }
      }
    }
  }
  @media screen and (max-width: 767px){
    margin-bottom: 30px;
  }
}
.sbg-paragraph-card-1{
  width: 100%;
  float: left;
  display: inline-block;
  padding: 15px 30px;
}

/*********************************************************************************/
/*********************************************************************************/
/*** BUTTONS ***/
/*********************************************************************************/
/*********************************************************************************/
.button-1{
  min-width: 219px;
  border-radius: 4px;
  background-color: @backgroundColorDarkRed;
  border: solid 2px #aa0050;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-align: right;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  &:hover{
    text-decoration: none;
    color: #ffffff;
  }
  &.introduction-button{
    margin-left: 15px;
    padding: 10px 30px 10px 10px;
    @media screen and (max-width:480px){
      width: 100%;
      float: left;
    }
    &.down-arrow{
      background-position: right 10px center;
      background-image: url("../img/generic/down-arrow.svg");
      background-repeat: no-repeat;
      background-size: 10px;
    }
  }
}
.button-2{
  width: 149px;
  height: 40px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  display: inline-block;
  background-color: @backgroundColorWhite;
  font-family: @fontBentonSansBold;
  font-size: 10px;
  letter-spacing: 1.3px;
  text-align: center;
  color: @colorBlue;
  border: solid 2px @colorBlue;
  padding: 10px;
  text-decoration: none !important;
  &:hover{
    background-color: rgba(21, 105, 214, 0.2);
  }
  &:active, &:focus{
    background-color: rgba(21, 105, 214, 0.2);
  }
  &.blue{
    background-color: @backgroundColorBlue;
    color: @colorWhite;
    &:hover{
      background-color: #1569d7;
      border-color: #1569d7;
    }
    &:active, &:focus{
      background-color: #1569d6;
      border-color: #1569d6;
    }
  }
  &.white_outline{
    border: solid 2px @colorWhite;
    background-color: transparent !important;
    color: @colorWhite;
    &:hover, &:active, &:focus{
      background-color: transparent !important;
      border-color: #1569d6;
    }
  }
  &.summary-button{
    @media screen and (max-width: 767px) {
      width: 100%;
      float: left;
      margin-bottom: 15px;
    }
  }
  @media screen and (max-width: 767px){
    width: 100%;
  }
}
.button-3{
  display: inline-block;
  padding: 15px 40px 15px 15px;
  font-family: BentonSansBold, sans-serif;
  font-size: 13px;
  color: #b3b3b3;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  background-color: #ffffff;
  border: solid 2px #f5f5f5;
  text-decoration: none !important;
  background-image: url("../img/generic/load-more.svg");
  background-position: right 15px center;
  background-repeat:no-repeat;
  background-size: 12px;
  &:hover,&:focus,&:active{
    color: #b3b3b3;
    text-decoration: none !important;
    background-color: #ffffff;
  }
}
.summary-button-small-1{
  font-family: BentonSansRegular, sans-serif;
  font-size: 11px;
  line-height: 2;
  color: #262626;
  text-decoration: none !important;
  background-repeat: no-repeat;
  background-size: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover, &:focus, &:active{
    color: #262626;
    text-decoration: none !important;
  }
  &.left{
    background-position: left center;
    padding-left: 30px;
  }
  &.right{
    background-position: right center;
    padding-right: 30px;
  }
  &.icon-compare{
    background-image: url("../img/generic/compare.svg");
  }
  &.icon-question{
    background-image: url("../img/generic/question.svg");
  }
}
.sbg-card-filter-1{
  width: 100%;
  float: left;
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  background-image: url(../img/generic/card_dropdown_arrow.svg);
  background-size: 20px;
  background-position: right 15px top 25px;
  background-repeat:no-repeat;
  &.open{
    background-image: url(../img/generic/card_dropdown_arrow_open.svg) !important;
    .all_cards{
      display: inline-block;
    }
  }
  .button{
    width: 100%;
    float: left;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    .title{
      width: 50px;
      float: left;
      display: inline-block;
      position: absolute;
      font-family: BentonSansRegular, sans-serif;
      font-size: 16px;
      line-height: 1.88;
      color: #666666;
    }
    .cards{
      padding-left: 50px;
      padding-right: 20px;
      font-family: BentonSansRegular, sans-serif;
      font-size: 16px;
      line-height: 1.88;
      color: #333333;
    }
  }
  .all_cards{
    width: 100%;
    float: left;
    display: none;
    a{
      padding: 15px;
      width: 100%;
      float: left;
      padding-top: 15px;
      padding-bottom: 15px;
      font-family: BentonSansRegular, sans-serif;
      font-size: 16px;
      line-height: 1.88;
      color: #666666;
      text-decoration: none !important;
      border-top: 1px solid #f6f6f6;
      &:hover, &:focus, &:active{
        color: #666666;
        text-decoration: none !important;
      }
    }
  }
}
.sbg-back-to-top-button{
  display: inline-block;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-image: url("../img/generic/back-to-top.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 45px;
  text-decoration: none !important;
  width: 50px;
  height: 50px;
  @media screen and (max-width: 767px){
    width: 30px;
    height: 30px;
    background-size: 30px;
  }
}

/*********************************************************************************/
/*********************************************************************************/
/*** LINKS ***/
/*********************************************************************************/
/*********************************************************************************/
a{
  &.sbg-link-1{
    text-decoration: none;
    color: @colorGrey !important;
    border-bottom: 1px solid @colorLightBlue;
    padding-bottom: 5px;
    &:hover, &:focus, &:active{
      text-decoration: none;
      color: @colorGrey !important;
      border-bottom: 1px solid @colorLightBlue;
    }
    &.color-white{
      color: @colorWhite !important;
      border-bottom: 1px solid @colorWhite;
      &:hover, &:focus, &:active{
        text-decoration: none;
        color: @colorWhite !important;
        border-bottom: 1px solid @colorWhite;
      }
    }
  }
}

/*********************************************************************************/
/*********************************************************************************/
/*** BREADCRUMB ***/
/*********************************************************************************/
/*********************************************************************************/
.sbg-breadcrumb-container{
  width: 100%;
  float: left;
  display: inline-block;
  .sbg-breadcrumb-link{
    width: 87px;
    height: 30px;
    font-family: @fontBentonSansBook;
    font-size: 13px;
    line-height: 2.31;
    color: #cccccc;
    padding-right: 30px;
    text-decoration: none;
    background-image: url(../img/generic/breadcrumb.svg);
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: 5px;
    &:hover{

    }
    &.active{
      color: #304ffe;
      background: none;
    }
  }
}

/*********************************************************************************/
/*********************************************************************************/
/*** CARDS ***/
/*********************************************************************************/
/*********************************************************************************/
.sbg-card-layout-1{
  width: 100%;
  float: left;
  display: inline-block;
  min-height: 442px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  padding: 30px;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s ;
  -ms-transition: ease 0.3s ;
  -o-transition: ease 0.3s ;
  transition: ease 0.3s ;
  margin-bottom: 15px;
  &:hover{
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
  }
  @media screen and (max-width: 992px) {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 15px;
  }
  &.detail-page{
    padding: 0px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    @media screen and (max-width: 992px) {
      padding: 15px;
    }
  }
}
.sbg-card-layout-2{
  width: 100%;
  float: left;
  display: inline-block;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  background-color: #66cf8e;
  padding: 20px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s ;
  -ms-transition: ease 0.3s ;
  -o-transition: ease 0.3s ;
  transition: ease 0.3s ;
  &:hover{
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
  }
}
.sbg-card-layout-3{
  width: 100%;
  float: left;
  display: inline-block;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  padding: 30px;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s ;
  -ms-transition: ease 0.3s ;
  -o-transition: ease 0.3s ;
  transition: ease 0.3s ;
  background-image: none;
  &:hover{
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
  }
  &.icon{
    background-position: left 30px top 30px;
    background-repeat: no-repeat;
    background-size: 68px;
    padding: 30px 30px 30px 120px;
    @media screen and (max-width: 1024px) {
      padding: 120px 30px 30px 30px;
    }
    @media screen and (max-width: 480px) {
      padding: 120px 30px 30px 30px;
    }
  }
}
.sbg-card-layout-4{
  width: 100%;
  float: left;
  display: inline-block;
  .image{
    width: 100%;
    height: 100px;
    float: left;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 15px;
    white-space: nowrap;
    position: relative;
    img{
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      width: auto;
      max-height: 50px;
    }
  }
  .title{
    width: 100%;
    height: 60px;
    float: left;
    display: inline-block;
    overflow: hidden;
  }
}
.sbg-card-layout-5{
  width: 100%;
  float: left;
  display: inline-block;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s ;
  -ms-transition: ease 0.3s ;
  -o-transition: ease 0.3s ;
  transition: ease 0.3s ;
  overflow: hidden;
  background-color: #ffffff;
  background-image: url("../img/generic/more-icon.svg");
  background-position: right 15px bottom 20px;
  background-repeat:no-repeat;
  background-size: 16px;
  margin-bottom: 30px;
  .content{
    width: 100%;
    min-height: 130px;
    float: left;
    display: inline-block;
    padding: 20px 50px 50px 30px;
    font-family: BentonSansRegular, sans-serif;
    font-size: 18px;
    line-height: 1.67;
    color: #666666;
  }
  &:hover{
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
  }
  @media screen and (max-width: 767px){
    margin-bottom: 15px;
    .content{
      padding: 20px 50px 15px 30px;
      min-height: 0;
    }
  }
}
.sbg-card-layout-6{
  min-height: 468px;
  width: 100%;
  float: left;
  display: inline-block;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s ;
  -ms-transition: ease 0.3s ;
  -o-transition: ease 0.3s ;
  transition: ease 0.3s ;
  margin-bottom: 15px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  &:hover{
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
  }
  .image{
    min-height: 250px;
    overflow: hidden;
    width: 100%;
    float: left;
    display: inline-block;
    position: relative;
    .image_desktop, .image_mobile{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .content{
    width: 100%;
    float: left;
    display: inline-block;
    .category{
      width: 100%;
      float: left;
      display: inline-block;
      padding-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
      min-height: 80px;
    }
    .title{
      width: 100%;
      float: left;
      display: inline-block;
      padding-left: 30px;
      padding-right: 50px;
      min-height: 80px;
    }
    .button{
      width: 100%;
      float: left;
      display: inline-block;
      padding-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
    }
  }
  &.layout-2{
    min-height: 224px;
    .image{
      position: absolute !important;
      width: 50%;
      height: 100%;
      min-height: auto;
      right: 0;
    }
    .content{
      width: 50%;
      .category{
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        min-height: auto;
        margin-bottom: 15px;
      }
      .title{
        min-height: auto;
        padding-left: 15px;
        padding-right: 15px;
        p{
          font-size: 18px;
        }
      }
      .button{
        padding-left: 15px;
      }
    }

  }
  @media screen and (max-width: 767px){
    &.smaller{
      .image{
        position: absolute !important;
        width: 50%;
        height: 100%;
        min-height: auto;
        right: 0;
      }
      .content{
        width: 50%;
        .category{
          padding-top: 15px;
          padding-left: 15px;
          padding-right: 15px;
          min-height: auto;
        }
        .title{
          min-height: auto;
          padding-left: 15px;
          padding-right: 15px;
          p{
            font-size: 15px !important;
            line-height: 1.33 !important;
            color: #666666;
          }
        }
        .button{
          min-height: auto;
          padding-top: 15px;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 15px;
          a{
            font-size: 12px !important;
            font-weight: bold !important;
            padding: 0 !important;
            background-color: transparent !important;
            color: @colorBlue;
            border: none !important;
            text-align: left;
            height: auto !important;
          }
        }
      }
    }
  }
}
.sbg-card-layout-7{
  width: 100%;
  float: left;
  display: inline-block;
  .icon{
    width: 100%;
    min-height: 50px;
    float: left;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 15px;
    white-space: nowrap;
    position: relative;
    @media screen and (max-width: 480px){
      display: none;
    }
  }
  .title{
    width: 100%;
    height: 60px;
    float: left;
    display: inline-block;
    overflow: hidden;
    @media screen and (max-width: 480px){
      height: auto;
      margin-bottom: 15px;
    }
    a{
      @media screen and (max-width: 480px){
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: right center;
        background-image: url("../img/generic/link_blue_arrow.svg");
        padding-right: 30px;
      }
    }
  }
  .description{
    @media screen and (max-width: 480px){
      display: none;
    }
  }
}

/*********************************************************************************/
/*********************************************************************************/
/*** IMAGES ***/
/*********************************************************************************/
/*********************************************************************************/
.sbg-card-image-border-1{
  overflow: hidden;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
}

/*********************************************************************************/
/*********************************************************************************/
/*** FLOATABLE CONTAINER ***/
/*********************************************************************************/
/*********************************************************************************/
.sbg-floating-absolute{
  margin-bottom: 30px;
  position: absolute;
}
.sbg-floating-fixed{
  position: fixed;
  top: 0;
}
.sbg-floating-static{
  position: absolute;
}

/*********************************************************************************/
/*********************************************************************************/
/*** ICONS + TEXT ***/
/*********************************************************************************/
/*********************************************************************************/
.sbg-icon-text-1{
  width: 100%;
  float: left;
  display: inline-block;
  font-family: BentonSansRegular, sans-serif;
  font-size: 10px;
  line-height: 2;
  color: #ffffff;
  padding: 30px 70px 30px 85px;
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: left 30px center;
  &.absolute{
    width: 100%;
    float: left;
    display: inline-block;
    font-family: BentonSansRegular, sans-serif;
    font-size: 10px;
    line-height: 2;
    color: #ffffff;
    padding: 10px 30px 30px 55px;
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: left top;
    position: absolute;
    left: 30px;
    top: 30px;
  }
}
.sbg-icon-text-2{
  width: 100%;
  float: left;
  display: inline-block;
  font-family: BentonSansRegular, sans-serif;
  font-size: 10px;
  line-height: 2;
  color: #666666;
  padding: 30px 70px 30px 55px;
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: left center;
}

/*********************************************************************************/
/*********************************************************************************/
/*** SCROLL DOWN ***/
/*********************************************************************************/
/*********************************************************************************/
.sbg-scroll-down{
  text-align: center;
  margin-top: -40px;
}

/*********************************************************************************/
/*********************************************************************************/
/*** TABS ***/
/*********************************************************************************/
/*********************************************************************************/
.sbg-tabs-1{
  a{
    float: left;
    margin-right: 30px;
    padding-bottom: 15px;
    display: inline-block;
    font-family: @fontBentonSansMedium;
    font-size: 18px;
    color: @colorGreyDark;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
    &.active{
      font-family: @fontBentonSansBold;
      color: @colorBlue;
      border-bottom: 2px solid @colorBlue;
    }
  }
}
.sbg-tabs-content{
  float: left;
  width: 100%;
  min-height: 550px;
  border-top: 2px solid @colorGreyLightDark;
  display: none;
  padding-top: 50px;
  padding-bottom: 30px;
  &.active{
    display: inline-block;
  }
}

/*********************************************************************************/
/*********************************************************************************/
/*** LISTS ***/
/*********************************************************************************/
/*********************************************************************************/
ul{
  &.sbg-list-1{
    padding-left: 0px;
    font-family: @fontBentonSansRegular;
    font-size: 16px;
    line-height: 1.5;
    color: @colorGrey;
    list-style: none;
    li{
      margin-bottom: 15px;
      padding-left: 30px;
      background-image: url("../img/generic/standard_bank_icons/list_check.svg");
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: left 0px top 5px;
    }
  }
}