@font-face {
  font-family: 'BentonSansMedium';
  src: url('fonts/bentonsans-medium-webfont.woff2') format('woff2'),
  url('fonts/bentonsans-medium-webfont.woff') format('woff'),
  url('fonts/bentonsans-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSansRegular';
  src: url('fonts/bentonsans-regular-webfont.woff2') format('woff2'),
  url('fonts/bentonsans-regular-webfont.woff') format('woff'),
  url('fonts/bentonsans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSansBold';
  src: url('fonts/bentonsans-bold-webfont.woff2') format('woff2'),
  url('fonts/bentonsans-bold-webfont.woff') format('woff'),
  url('fonts/bentonsans-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSansBook';
  src: url('fonts/bentonsans-book-webfont.woff2') format('woff2'),
  url('fonts/bentonsans-book-webfont.woff') format('woff'),
  url('fonts/bentonsans-book-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSansLight';
  src: url('fonts/bentonsans-light-webfont.woff2') format('woff2'),
  url('fonts/bentonsans-light-webfont.woff') format('woff'),
  url('fonts/bentonsans-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}